{{ $summary := .Summary | plainify | htmlUnescape }}
<article class="post on-list">
  {{ with .Date }}
    <time class="post-date">{{ partial "post-date" $ }}</time>
  {{ end }}

  <h3 class="post-title">
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </h3>

  {{ with .Params.author }}
    <span class="post-author">{{ . }}</span>
  {{ end }}

  <div class="post-content">
    {{ if .Params.showFullContent }}
      {{ .Content }}
    {{ else if .Description }}
      <p>{{ .Description | markdownify }}</p>
    {{ else }}
      <p>{{ $summary }}</p>
    {{ end }}
  </div>

  {{ if not .Params.showFullContent }}
    <div>
      <a class="read-more button inline" href="{{ .RelPermalink }}">[{{ $.Site.Params.ReadMore }}]</a>
    </div>
  {{ end }}
</article>
