{{ define "main" }}
  {{ if .Title }}
  <article class="post list-header">
    <h1 class="post-title">{{ .Title }}</h1>
  </article>
  {{ end }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}

  {{ if not .IsHome }}
    <h2>Categories</h2>
    {{ partial "category-nav.html" (dict "Page" .) }}

    <div class="posts">
      <h2>Recent Posts</h2>
      {{ $pages := .RegularPagesRecursive }}
      {{ $paginator := .Paginate $pages }}
      {{ range $paginator.Pages }}
        {{ partial "post-list-item.html" . }}
      {{ end }}

      {{ partial "pagination.html" . }}
    </div>
  {{ end }}
{{ end }}
