{{ define "main" }}
<article class="post {{ if eq .Section "posts" }}blog-post{{ else }}content-page{{ end }}">
  {{- if .Date -}}
  <time class="post-date single-post-date">
    {{- partial "post-date" . -}}
    {{- if and $.Site.Params.showLastUpdated .Lastmod -}}
      &nbsp;{{- partial "post-lastmod" . -}}
    {{- end -}}
    {{- with .Params.categories -}}
      {{- range . -}}
        &nbsp;| <a href="{{ (urlize (printf "categories/%s" .)) | absLangURL }}">{{ . }}</a>
      {{- end -}}
    {{- end -}}
  </time>
  {{- end -}}
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>
  
  {{/* Tags as pills */}}
  {{- with .Params.tags -}}
  <div class="post-tags-pills">
    {{- range . -}}
    <span class="tag-pill"><a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . | lower }}</a></span>
    {{- end -}}
  </div>
  {{- end -}}
  
  {{/* Author and reading time */}}
  <div class="post-meta">
    {{- with .Params.Author -}}
      <span class="post-author">{{ . }}</span>
    {{- end -}}
    {{- if and (.Param "readingTime") (eq (.Param "readingTime") true) -}}
      <span class="post-reading-time">{{ .ReadingTime }} {{ $.Site.Params.minuteReadingTime | default "min read" }} ({{ .WordCount }} {{ $.Site.Params.words | default "words" }})</span>
    {{- end -}}
  </div>

  {{ partial "cover.html" . }}

  {{ $showToc := .Site.Params.toc }}
  {{ if isset .Params "toc" }}
    {{ $showToc = .Param "toc" }}
  {{ end }}
  {{ if $showToc }}
    <details class="table-of-contents"{{ if or (not (isset .Params "tocopen")) (eq (.Param "tocopen") true) }} open{{ end }}>
      <summary>{{ (.Param "tocTitle" | default .Site.Params.tocTitle) | default "Table of Contents" }}</summary>
      <div id="table-of-contents-list">
        {{ .TableOfContents }}
      </div>
    </details>
  {{ end }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" aria-label="Anchor">#</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>

  {{ if not (.Params.hideComments | default false) }}
    {{ partial "comments.html" . }}
  {{ end }}
</article>
{{ end }}
